doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/style.css")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        title Weather App 
    body 
        section.region-input 
            form(action="" class="form")
                label(for="city") Region 
                input(type="text" name="region" id="region" autocomplete="off")    
                button(type="submit" id="submitBtn") Search 
        //- Main Dashboard
        section.dashboard 
            //- Current Weather Display
            main.current-info
                //- City, Date etc. 
                header.top 
                    h2.city-name #{weatherData.location.name}, #{weatherData.location.country}
                    span.date-time 
                        | #{weatherData.location.localtime}
                //- Weather information
                div.current-display 
                    //- Main weather card
                    div.content
                        img(src=weatherData.current.condition.icon, alt="")
                        span.temperature 
                            | #{weatherData.current.temp_c}&deg;C 
                        div.extras
                            p.condition 
                                | #{weatherData.current.condition.text}
                            p.humidity
                                | Humidity: #{weatherData.current.humidity}%
                        p.last-updated 
                            | Last Updated: #{weatherData.current.last_updated}
                    //- Side Boxes of information
                    div.sub-content
                        div.wind-speed.box
                            span.material-icons air 
                            span.text Wind Spd. 
                            span.text #{weatherData.current.wind_mph} mph 
                        div.wind-direction.box
                            span.material-icons explore 
                            span.text Wind Dir.
                            span.text #{weatherData.current.wind_dir} 
                        div.cloudy.box
                            span.material-icons cloud 
                            span.text Cloudy 
                            span.text #{weatherData.current.cloud} %

            section.forecast 
                 if weatherData.forecast && weatherData.forecast.forecastday.length >= 4 
                    h2 Weekly Forecast 
                    .forecast-box 
                        img(src=weatherData.forecast.forecastday[1].day.condition.icon, alt="")
                        div 
                            p #{weatherData.forecast.forecastday[1].date}
                            p #{weatherData.forecast.forecastday[1].day.avgtemp_c} &deg;C
                            p #{weatherData.forecast.forecastday[1].day.condition.text}
                    .forecast-box 
                        img(src=weatherData.forecast.forecastday[2].day.condition.icon, alt="")
                        div 
                            p #{weatherData.forecast.forecastday[2].date} 
                            p #{weatherData.forecast.forecastday[2].day.avgtemp_c} &deg;C
                            p #{weatherData.forecast.forecastday[2].day.condition.text}
                    .forecast-box 
                        img(src=weatherData.forecast.forecastday[3].day.condition.icon, alt="")
                        div 
                            p #{weatherData.forecast.forecastday[3].date} 
                            p #{weatherData.forecast.forecastday[3].day.avgtemp_c} &deg;C
                            p #{weatherData.forecast.forecastday[3].day.condition.text}